<div class="dropdown">
    <button
      class="btn btn-secondary"
      type="button"
      (click)="toggleModal()"
    >
      Menu
    </button>
  </div>
  
  <div class="modal-backdrop" *ngIf="isModalOpen" (click)="toggleModal()"></div>
  <div class="modal" *ngIf="isModalOpen">
    <div class="modal-content">
      <button class="close-btn" (click)="toggleModal()">X</button>
      <ul>
        <li><a href="#">O Projeto</a></li>
        <li><a href="#">Conteúdo</a></li>
        <li><a href="#">Ajuda</a></li>
        <li><a href="#">#RedeJED</a></li>
      </ul>
    </div>
  </div>