.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 219px;
  max-width: 90%;
  height: auto;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;

  ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;

    li {
      margin: 10px 0;
      font-family: Roboto Slab, sans-serif;
      font-weight: 900;
      font-size: 24px;
      line-height: 16px;
      letter-spacing: 1.25px;
      text-align: center;
      vertical-align: middle;
      padding-bottom: 4px;
      border-bottom: 1px solid  #c76515;

      a {
        text-decoration: none;
        color:  #c76515 !important;

        &:hover {
          color: #c76515;
        }
      }
    }
  }

  .close-btn {
    align-self: flex-end;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #213820;

    &:hover {
      color: #c76515;
    }
  }
}

button{
  background-color: #213820;
}
