.container {
  width: 100%;

  .top {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: end;
    background-color: #213820;
    padding: 0 20px;

    .itens {
      .square {
        width: 23px;
        height: 23px;
        background-color: #fff;
        border-radius: 5px;
        margin: 5px;
        display: inline-block;
        cursor: pointer;
      }
    }
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px;

    img {
      width: 303px;
      height: 144px;
    }
    ul {
      display: flex;
      gap: 50px;

      li {
        display: flex;
        cursor: pointer;
        font-family: Roboto Slab;
        font-weight: 900;
        font-size: 20px;
        line-height: 16px;
        letter-spacing: 1.25px;
        text-align: center;
        vertical-align: middle;
        color: #c76515;
      }
    }

    button {
      width: 133px;
      height: 49px;
      background-color: #213820;
      color: #fff;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;

      &:hover {
        background-color: #1a2b1c;
      }
    }
  }

  .container-one {
    background: linear-gradient(180deg, #ffffff 0%, #93ac5a 38%, #426b53 100%);
    width: 100%;
    height: 200vh;

    .foto{
        width: 100%;
        height: auto;
        margin-top: 149px;
    }
    .onda{
        width: 100%;
    
    }

    .containertext {
      width: 100%;
      height: 280px;
      display: flex;
      align-items: center;
      justify-content: space-between;
     

      padding: 0 80px;
      padding-top: 250px;
    
      .text {
        width: auto;
        height: 259.88px;

        h1 {
          font-family: Anisette, ;
          font-weight: 400;
          font-size: 79px;
          line-height: 104px;
          letter-spacing: 1.25px;
          vertical-align: middle;
          text-transform: uppercase;
          color: #15b251;
        }
      }
      h1 {
        width: 623px;
        height: 146.76px;
        font-family: Roboto Slab;
        font-weight: 800;
        font-size: 28px;
        line-height: 45px;
        letter-spacing: 1.25px;
        vertical-align: middle;
        color: #535353;
      }
    }
  }
}
