<div class="container">
    <div class="top">
      <div class="itens">
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
      </div>
    </div>
    <nav>
        <img src="./logo.svg" alt="">
        <ul>
        <li>O Projeto</li>
        <li>Conteudo</li>
        <li>Ajuda</li>
        <li>#RedeJED</li>
    </ul>
    <button>Entrar</button>
    </nav>

    <div class="container-one">
        <div class="containertext">
            <div class="text">
                <H1>DÊ UM PLAY NO SEU FUTURO</H1>
            </div>
            <h1>Curso online com formação personalizada para você empreender de forma inteligente e estratégica</h1>
        </div>

        <img class="foto" src="./fotoH.jpg" alt="">
        <img class="onda" src="./ondas.svg" alt="">
    
    </div>
</div>