<div class="carousel-container">
  <!-- Botão para a esquerda -->
  <button class="arrow left" (click)="scrollCarousel(-1)">&#x2039;</button>

  <!-- Itens do carousel -->
  <div
    class="carousel"
    #carousel
    (mousedown)="onDragStart($event)"
    (mousemove)="onDragMove($event)"
    (mouseup)="onDragEnd()"
    (mouseleave)="onDragEnd()"
    (touchstart)="onDragStart($event)"
    (touchmove)="onDragMove($event)"
    (touchend)="onDragEnd()"
  >
    <div class="item" *ngFor="let item of items"></div>
  </div>

  <!-- Botão para a direita -->
  <button class="arrow right" (click)="scrollCarousel(1)">&#x203A;</button>
</div>