<div class="card-form">
  <div class="input-group">
    <app-input label="Nome:" placeholder="Digite seu nome" id="nome" name="nome" />
    <app-input label="E-mail:" placeholder="Digite seu E-mail" id="nome" name="nome" />
  </div>
  <div class="input-group">
    <app-input label="Polo:" placeholder="Digite o nome do Polo" id="nome" name="nome" />
    <app-input label="Turma:" placeholder="Digite a sua turma" id="nome" name="nome" />
  </div>

  <app-input label="Assunto:" placeholder="Digite o assunto" id="nome" name="nome" />

  <div class="check">
    <input type="checkbox" id="meu-checkbox">
    <label for="meu-checkbox">Li e aceito a política de privacidade</label>
  </div>


  <button>Enviar</button>
  
</div>

